@inherits LayoutComponentBase

<PageTitle>Blazor.TravisPWalker</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>        
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="#">
                        <span aria-hidden="true"></span> Hello, @context.User?.Identity?.Name
                    </NavLink>
                    <NavLink class="nav-link" href="logout">
                        <span aria-hidden="true"></span> Logout
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="login">
                        <span aria-hidden="true"></span> Login
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>


        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
