@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The site is a work in progress to showcase some of my abilibies.<br />
    Too much time was spent working on corporate projects that I neglected to build a few things for myself.</p>

    <p>Security for the site is managed by aspnet identity but utilizes jwt tokens so cross communication between it and the eventual apis, blazor app, ect share the same security easily.<br />
        The first thing we will implement after the security will be an API that makes calls to insert new records to a table that is then parsed out to an RSS feed and consumed by a LED sign in my house.<br />
        The code for the led sign and rss feed reader can be found at:  <a href="https://github.com/techtravis/ScrollSign">ScrollSign</a>
    </p>
</div>
