@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>Is anything REALLY private anymore?</h3> 
<p>
    I don't use your info in anyway other than to possibly check traffic.<br />
But as with all sites I don't recommend using the same password here as any other site.<br />
</p>
