@{
    ViewData["Title"] = "JWT";
}

    <p>You're logged in as:&nbsp;@User.Identity?.Name</p>
    <p>Typically you would not present all of the token details to a user.</br>
        But I am doing this as a demonstration.</p>
<p>@Html.Raw(ViewBag.Message)</p>
