@using Library.Database.Auth;
@using Microsoft.AspNetCore.Identity
@inject UserManager<Library.Database.Auth.SecureUser> UserManager
@model IEnumerable<System.Security.Claims.Claim>

@{
    ViewData["Title"] = "Secured Page";
}

    <p>Congrats!  You're logged in as:&nbsp;@User.Identity?.Name</p>
<table class="table table-sm table-bordered">
    <tr>
        <th>Subject</th>
        <th>Issuer</th>
        <th>Type</th>
        <th>Value</th>
    </tr>
  
    @foreach (var claim in Model.OrderBy(x => x.Type))
    {
        <tr>
            <td>@claim.Subject?.Name</td>
            <td>@claim.Issuer</td>
            <td>@claim.Type</td>
            <td>@claim.Value</td>
        </tr>
    }
</table>

