@page "/logout"
@using Blazor.TravisPWalker.Authentication
@using System.Text
@using System.Text.Json
@using Library.Database.Auth
@using Library.Database.Auth.Models
@inject IJSRuntime js
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@inject IConfiguration _configuration

<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var blzrAuthStateProvider = (BlzrAuthStateProvider)authStateProvider;
        await blzrAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/", true);

        return;
    }
}
