@page "/logout"
@inject IJSRuntime js
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@inject IConfiguration _configuration

<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var blzrAuthStateProvider = (BlzrAuthStateProvider)authStateProvider;
        await blzrAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/", true);

        return;
    }
}
